<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Visitors (<%= @visitors.size %>)</h1>
    <div class="flex gap-2">
      <%= link_to 'New visitor', new_visitor_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
      <%= link_to 'Import visitors', import_visitors_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
      <%= button_to 'Export visitors', export_visitors_path, data: {turbo: false}, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
      <%= button_to 'Delete all', delete_all_visitors_path, data: {turbo: false}, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
    </div>
  </div>

  <div id="visitors" class="min-w-full">
    <%= render @visitors %>
  </div>
</div>
